@charset "UTF-8";
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato_medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

body {
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  font-size: 20px;
  color: var(--color-dark);
  background-color: #FFFFFF; }

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration); }

a {
  text-decoration: none;
  color: inherit; }

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box; }

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0; }

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0; }

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0; }

:where(dd[class]) {
  margin-left: 0; }

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none; }

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none; }

:where(address[class]) {
  font-style: normal; }

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0; }

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom); }

/**
   Упрощаем работу с изображениями
  */
img {
  display: block;
  max-width: 100%; }

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit; }

html {
  /**
	 Пригодится в большинстве ситуаций
	 (когда, например, нужно будет "прижать" футер к низу сайта)
	*/
  height: 100%; }

/**
   Плавный скролл
  */
html,
:has(:target) {
  scroll-behavior: smooth; }

body {
  /**
	 Пригодится в большинстве ситуаций
	 (когда, например, нужно будет "прижать" футер к низу сайта)
	*/
  min-height: 100%;
  /**
	 Унифицированный интерлиньяж
	*/
  line-height: 1.5; }

/**
   Приводим к единому цвету svg-элементы
  */
svg *[fill] {
  fill: currentColor; }

svg *[stroke] {
  stroke: currentColor; }

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  transition-property: fill, stroke; }

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x); }

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important; }

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important; } }

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important; } }

:root {
  --color-green: #01996d;
  --color-dark: #424242;
  --color-dark-alt: #484848;
  --color-green-alt: #245852;
  --color-green-light: #ccebe2;
  --transition-duration: 0.2s;
  --font-family-base: "Lato", "san-serif";
  --container-width: 1540px;
  --container-padding-x: 20px; }

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: 7px; }
  @media (hover: hover) {
    .cross-button:hover {
      background-color: var(--color-green); } }
  @media (hover: none) {
    .cross-button:active {
      background-color: var(--color-green); } }
  .cross-button::before, .cross-button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 7px;
    width: 70%;
    height: 2px;
    background-color: var(--color-dark);
    border-radius: 5px; }
  .cross-button::before {
    rotate: 45deg; }
  .cross-button::after {
    rotate: 315deg; }

.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  padding: 14px 20px; }
  .mobile-overlay:modal {
    max-width: 100%;
    max-height: 100%; }
  .mobile-overlay__close-button-wrapper {
    display: flex;
    justify-content: end; }
  .mobile-overlay-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    min-height: 80dvh; }

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  border-radius: 7px;
  position: relative; }
  @media (hover: hover) {
    .burger-button:hover {
      background-color: var(--color-green); } }
  @media (hover: none) {
    .burger-button:active {
      background-color: var(--color-green); } }
  .burger-button::after {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    content: '';
    width: 50%;
    height: 2px;
    background-color: var(--color-dark);
    border-radius: 5px;
    box-shadow: 0 -8px,0 8px; }

.header__inner {
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

@media (max-width: 1023px) {
  .header__logo {
    max-width: 60px; } }

.header__menu-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 48px; }
  @media (hover: hover) {
    .header__menu-link:hover::after {
      width: 100%; } }
  @media (hover: none) {
    .header__menu-link:active::after {
      width: 100%; } }
  .header__menu-link::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    translate: -50%;
    width: 0;
    height: 2px;
    background-color: var(--color-green);
    transition-duration: inherit; }

.header__menu-list {
  font-weight: 500;
  display: flex;
  justify-content: start;
  column-gap: 71px; }
  @media (max-width: 1023px) {
    .header__menu-list {
      column-gap: 18px; } }

.header__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 35px; }
  @media (max-width: 1023px) {
    .header__actions {
      column-gap: 15px; } }
  .header__actions-link {
    display: inline-flex;
    height: 48px;
    align-items: center; }

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-inline: 50px;
  padding-block: 20px;
  color: #ffffff;
  background-color: var(--color-green);
  border: 1px solid var(--color-green);
  height: 65px; }
  @media (hover: hover) {
    .button:hover {
      opacity: 0.7; } }
  @media (hover: none) {
    .button:active {
      opacity: 0.7; } }
  .button--small {
    padding-inline: 13px;
    height: 51px; }

.section--background {
  background-image: url("../../images/banner.png");
  background-size: cover;
  background-position: center;
  height: 895px;
  margin-bottom: 78px; }
  @media (max-width: 480px) {
    .section--background {
      height: 500px; } }

.moto__title {
  padding-top: 175px;
  font-size: 65px;
  font-weight: 700;
  color: var(--color-green);
  max-width: 390px; }
  @media (max-width: 480px) {
    .moto__title {
      padding-top: 50px;
      font-size: 50px; } }

.moto__description {
  padding-top: 22px;
  padding-bottom: 44px;
  max-width: 420px; }
  @media (max-width: 480px) {
    .moto__description {
      text-align: justify;
      font-size: 18px; } }

.solutions {
  padding-top: 78px; }
  @media (max-width: 1280px) {
    .solutions {
      padding-top: 30px; } }
  .solutions__main {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    @media (max-width: 767px) {
      .solutions__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; } }
  .solutions__title {
    max-width: 504px;
    color: var(--color-green);
    font-size: 50px;
    font-weight: 700;
    color: #01996d;
    line-height: 157%; }
    @media (max-width: 1280px) {
      .solutions__title {
        font-size: 40px;
        line-height: 100%; } }
    @media (max-width: 1023px) {
      .solutions__title {
        font-size: 30px;
        line-height: 150%; } }
    @media (max-width: 1023px) {
      .solutions__title {
        text-align: center; } }
    @media (max-width: 767px) {
      .solutions__title {
        padding-bottom: 20px; } }
    .solutions__title--small {
      grid-column: span 2;
      font-size: 24px;
      font-weight: 600;
      line-height: 157%;
      color: var(--color-dark); }
      @media (max-width: 1280px) {
        .solutions__title--small {
          font-size: 22px; } }
  .solutions__descriptions {
    font-weight: 500;
    width: 671px;
    line-height: 150%; }
    @media (max-width: 1023px) {
      .solutions__descriptions {
        width: 100%; } }
    @media (max-width: 767px) {
      .solutions__descriptions {
        text-align: justify; } }
  .solutions__process {
    display: grid; }
  .solutions__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    counter-reset: customcounter;
    list-style: none;
    justify-content: space-between; }
    @media (max-width: 1280px) {
      .solutions__list {
        grid-template-columns: repeat(2, 1fr); } }
    @media (max-width: 767px) {
      .solutions__list {
        display: flex;
        flex-direction: column; } }
  .solutions__item {
    counter-increment: customcounter;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media (max-width: 1280px) {
      .solutions__item {
        display: grid;
        margin: auto 0; } }
    .solutions__item:nth-child(2) {
      margin-top: 242px;
      margin-bottom: 56px; }
      @media (max-width: 1280px) {
        .solutions__item:nth-child(2) {
          display: grid;
          grid-row: 1/3;
          grid-column: 2 / 3;
          margin: auto 0;
          height: 919px; } }
    .solutions__item:nth-child(3) {
      margin-top: 9px; }
      @media (max-width: 767px) {
        .solutions__item:nth-child(3) {
          margin-top: 85px; } }
  .solutions__subtitle {
    padding-bottom: 55px;
    position: relative;
    padding-left: 120px;
    padding-top: 187px;
    font-size: 30px;
    font-weight: 700;
    line-height: 150%; }
    @media (max-width: 1023px) {
      .solutions__subtitle {
        width: 300px; } }
    .solutions__subtitle::before {
      content: "0" counter(customcounter);
      font-size: 150px;
      color: #01996d33;
      position: absolute;
      top: 58%;
      left: 0;
      transform: translate(4%, -50%);
      z-index: -1; }
    .solutions__subtitle:nth-child(3) {
      padding-top: 52px; }
      @media (max-width: 1280px) {
        .solutions__subtitle:nth-child(3) {
          padding-top: 0;
          padding-bottom: 0; } }
  .solutions__description {
    max-width: 390px;
    padding-bottom: 70px; }
    @media (max-width: 1023px) {
      .solutions__description {
        width: 100%;
        max-width: 300px; } }
    .solutions__description:nth-child(2) {
      padding-bottom: 37px; }
      @media (max-width: 1280px) {
        .solutions__description:nth-child(2) {
          display: flex;
          padding-bottom: 140px;
          height: 100px; } }
      @media (max-width: 1023px) {
        .solutions__description:nth-child(2) {
          margin: 20px auto; } }
    .solutions__description:nth-child(3) {
      padding-bottom: 48px; }
  @media (max-width: 1023px) {
    .solutions__image {
      width: 300px;
      margin: 0 auto; } }
  .solutions__image--first {
    anchor-name: --wow; }
  .solutions__image--background {
    position: absolute;
    position-anchor: --wow;
    top: anchor(46%);
    right: anchor(100%); }
    @media (max-width: 1023px) {
      .solutions__image--background {
        width: 138px; } }

/*# sourceMappingURL=styles.css.map */