:root {
	--color-green: #01996d;
	--color-dark: #424242;
	--color-dark-alt: #484848;
	--color-green-alt: #245852;
	--color-green-light: #ccebe2;

	--transition-duration: 0.2s;

	--font-family-base: "Lato", "san-serif";

	--container-width: 1540px;
	--container-padding-x: 20px;
}
